- content_for :title do
  Free | Amazon Gift Cards Give Aways
- content_for :pagecss do
  - stylesheet_link_tag "index/baba.index.css"
- content_for :pagecss do
  - stylesheet_link_tag "index/baba.index.css"
- content_for :body do
  .container
    .well.well-default
      %img.animated.infinite.pulse{:src => "/assets/logo.png", :width => "60"}
      %h1
        = raw @site_name
      %h3
        = raw @body_header_text
      %p.timer{"data-countdown" => "#{@coupons_release_date}"}
      %p
        .small.hint
          = @hint_text
        .wow.hidden
          %button#get-coupon.btn.btn-primary View Coupon
          .well-a
            .well.well-sm.coupon-well.hidden
      .small
        = raw @footer_news_text
        
      .fb-like-btn
        Like our page to get updates and more
        %br/
        #fb-root
          .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/daanibabagiveaways/?fref=ts", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-size" => "small"}

- content_for :pagejs do
  - javascript_include_tag "index/baba.index.js"
